.navbarMenu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item {
}

.link {
  position: relative;
  padding-right: .7rem;
  padding-left: .7rem;
  font-size: 16px;
  font-weight: 600;
  color: #333;

  text-transform: uppercase;
  text-decoration: none;

  transition: .3s;

  &:before {
    content: '';
    position: absolute;
    top: 5vh;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #3cb878;
    transform: scaleX(0);

    transition: transform .3s ease;
  }


  &:hover {
    color: #3cb878;
  }

  &:hover:before {
    transform: scaleX(1);
  }
}
