.app-header {
    -ms-flex-align: end;
    align-items: flex-end;
}

.app-header h1 {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.app-header h2 {
    font-size: 1.2rem;
    color: grey;
}

.todo-list-item {
    font-size: 1.25rem;
}

.todo-list-item button {
    width: 35px;
    margin: 3px;
}

.todo-list-item-label {
    margin-left: 1.25rem;
    line-height: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.todo-list-item.done .todo-list-item-label {
    text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label {
    font-weight: bold;
    color: steelblue;
}

.search-panel {
    margin: 1rem 0;
}

.search-panel .search-input {
    width: auto;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 3px;
}

.todo-list-item .btn-outline-success.selected {
    background-color: #28a745;
    color: #fff;
}

.bottom-panel {
    margin-top: 10px;
}

.bottom-panel .new-todo-label {
    width: auto;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 3px;
}

.todo-app {
    margin: 2rem auto 0 auto;
    max-width: 500px;
}

.todo-list .list-group-item {
    padding: .25rem .75rem;
}


._3emE9--dark-theme .-S-tR--ff-downloader {
    background: rgba(30, 30, 30, .93);
    border: 1px solid rgba(82, 82, 82, .54);
    box-shadow: 0 4px 7px rgba(30, 30, 30, .55);
    color: #fff
}

._3emE9--dark-theme .-S-tR--ff-downloader ._6_Mtt--header ._2VdJW--minimize-btn {
    background: #3d4b52
}

._3emE9--dark-theme .-S-tR--ff-downloader ._6_Mtt--header ._2VdJW--minimize-btn:hover {
    background: #131415
}

._3emE9--dark-theme .-S-tR--ff-downloader ._10vpG--footer {
    background: rgba(30, 30, 30, .93)
}

._2mDEx--white-theme .-S-tR--ff-downloader {
    background: #fff;
    border: 1px solid rgba(82, 82, 82, .54);
    box-shadow: 0 4px 7px rgba(30, 30, 30, .55);
    color: #314c75
}

._2mDEx--white-theme .-S-tR--ff-downloader ._6_Mtt--header {
    font-weight: 700
}

._2mDEx--white-theme .-S-tR--ff-downloader ._2dFLA--container ._2bWNS--notice {
    border: 0;
    color: rgba(0, 0, 0, .88)
}

._2mDEx--white-theme .-S-tR--ff-downloader ._10vpG--footer {
    background: #fff
}

.-S-tR--ff-downloader {
    display: block;
    overflow: hidden;
    position: fixed;
    bottom: 20px;
    right: 7.1%;
    width: 330px;
    height: 180px;
    background: rgba(30, 30, 30, .93);
    border-radius: 2px;
    color: #fff;
    z-index: 99999999;
    border: 1px solid rgba(82, 82, 82, .54);
    box-shadow: 0 4px 7px rgba(30, 30, 30, .55);
    transition: .5s
}

.-S-tR--ff-downloader._3M7UQ--minimize {
    height: 62px
}

.-S-tR--ff-downloader._3M7UQ--minimize .nxuu4--file-info,
.-S-tR--ff-downloader._3M7UQ--minimize ._6_Mtt--header {
    display: none
}

.-S-tR--ff-downloader ._6_Mtt--header {
    padding: 10px;
    font-size: 17px;
    font-family: sans-serif
}

.-S-tR--ff-downloader ._6_Mtt--header ._2VdJW--minimize-btn {
    float: right;
    background: #f1ecec;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 2px;
    margin-top: -10px;
    cursor: pointer
}

.-S-tR--ff-downloader ._6_Mtt--header ._2VdJW--minimize-btn:hover {
    background: #e2dede
}

.-S-tR--ff-downloader ._13XQ2--error {
    color: red;
    padding: 10px;
    font-size: 12px;
    line-height: 19px
}

.-S-tR--ff-downloader ._2dFLA--container {
    position: relative;
    height: 100%
}

.-S-tR--ff-downloader ._2dFLA--container .nxuu4--file-info {
    padding: 6px 15px 0;
    font-family: sans-serif
}

.-S-tR--ff-downloader ._2dFLA--container .nxuu4--file-info div {
    margin-bottom: 5px;
    width: 100%;
    overflow: hidden
}

.-S-tR--ff-downloader ._2dFLA--container ._2bWNS--notice {
    margin-top: 21px;
    font-size: 11px
}

.-S-tR--ff-downloader ._10vpG--footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    font-weight: 700
}

.-S-tR--ff-downloader ._10vpG--footer ._2V73d--loader {
    -webkit-animation: n0BD1--rotation 3.5s linear forwards;
    animation: n0BD1--rotation 3.5s linear forwards;
    position: absolute;
    top: -120px;
    left: calc(50% - 35px);
    border-radius: 50%;
    border: 5px solid #fff;
    border-top-color: #a29bfe;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center
}

.-S-tR--ff-downloader ._10vpG--footer ._24wjw--loading-bar {
    width: 100%;
    height: 18px;
    background: #dfe6e9;
    border-radius: 5px
}

.-S-tR--ff-downloader ._10vpG--footer ._24wjw--loading-bar ._1FVu9--progress-bar {
    height: 100%;
    background: #8bc34a;
    border-radius: 5px
}

.-S-tR--ff-downloader ._10vpG--footer ._2KztS--status {
    margin-top: 10px
}

.-S-tR--ff-downloader ._10vpG--footer ._2KztS--status ._1XilH--state {
    float: left;
    font-size: .9em;
    letter-spacing: 1pt;
    text-transform: uppercase;
    width: 100px;
    height: 20px;
    position: relative
}

.-S-tR--ff-downloader ._10vpG--footer ._2KztS--status ._1jiaj--percentage {
    float: right
}

._3vFA8--container {
    height: 0;
    width: 100%;
    position: relative;
    background: radial-gradient(44.6% 929.87% at 22.02% 63.39%, #ae6fff 0, #8d35fd 100%);
    cursor: pointer;
    overflow: hidden;
    transition: .8s
}

._3vFA8--container .AeJ0I--row {
    padding: 11px;
    margin: 0 auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}



._3vFA8--container .AeJ0I--row ._1yCun--logo ._2GogZ--stars ._1ErQY--star-1,
._3vFA8--container .AeJ0I--row ._1yCun--logo ._2GogZ--stars ._2JsUk--star-2,
._3vFA8--container .AeJ0I--row ._1yCun--logo ._2GogZ--stars ._181pR--star-3 {
    position: absolute
}

._3vFA8--container .AeJ0I--row ._2CXkc--title {
    float: left;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 23px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    color: #fff;
    text-shadow: 0 0 16px #5600c5;
    margin-right: 20px
}

._3vFA8--container .AeJ0I--row ._1CujY--btn {
    float: left;
    flex-direction: row;
    padding: 6px 22px;
    width: 111px;
    margin-top: -2px;
    height: 38px;
    background: #ffd600;
    box-shadow: 0 0 28px hsla(0, 0%, 100%, .5);
    border-radius: 5px
}

._3vFA8--container .AeJ0I--row ._1CujY--btn ._2Wo2K--btnText {
    width: 66px;
    height: 14px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -.01em;
    color: #9645fd;
    align-self: center;
    margin: 6px 0
}
