p, h1, h2, h3, h4, a, .page-wrapper {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}
i {
    width: 100%;
    height: 100%;
    display: block;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 50px;
    background: #fff;
    border: 2px solid #18b4cf;
    padding: 10px;
    border-radius: 5px;
    color: #18b4cf;
}

.header, footer {
    background: #1d2124;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-img, .search {
    background: #1a1d20;
    width: 70px;
    height: 70px;
}
.logo:hover .logo-img, .search:hover {
    background: #000;
}
.logo-img-icon{
    background: url("../img/logo-img.png") center no-repeat;
}
.search-icon {
    background: url("../img/search.png") center no-repeat;
}
.logo-text {
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.navbar-list {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}
.navbar-item {
    margin: 0 15px;
}
.navbar-item-link {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 5px;
}
.navbar-item-link:hover {
    border-bottom: 1px solid #fff;
}
.promo {
    background: linear-gradient(
            rgba(36, 36, 36, .4),
            rgba(36, 36, 36, .4)
    ), url("../img/header-bg.jpeg") bottom center no-repeat fixed;
    background-position-y: -490px;
}
.promo-wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promo-title {
    color: #fff;
    font-size: 27px;
    text-transform: uppercase;
}
.promo-buttons {
    display: flex;
    width: 45%;
    justify-content: space-evenly;
}
.button {
    width: 170px;
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.green-button {
    background: #89ca62;
}
.green-button:hover {
    background: #79b952;
}
.blue-button {
    background: #14b9d5;
}
.blue-button:hover {
    background: #179ab0;
}
.posts {
    background: #f2f2f2;
}
.selection-title {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #18b4cf;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.post-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vw;
    max-height: 800px;
    font-size: 0;
    align-items: center;
}

.post {
    background: #fff;
    width: 370px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
}
.post-text {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #353a3d;
}
.post.post-start {
    align-self: flex-start;
}
.post.post-end {
    align-self: flex-end;
}

.clients {
    background: linear-gradient(
            rgba(36, 36, 36, .4),
            rgba(36, 36, 36, .4)
    ), url("../img/clients.jpg") bottom center no-repeat fixed;
}
.selection-title.white-title {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    position: relative;
}
.white-title::after {
    content: "";
    width: 60px;
    height: 3px;
    background: #01bce5;
    position: absolute;
    left: calc(50% - 30px);
    top: 140px;
}
.clients-wrapper {
    padding-top: 120px;
    padding-bottom: 150px;
}
.client-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.top-rated-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.top-rated-img {
    height: 190px;
    background-image: url("../img/top.jpg");
}
.rated-img-1 {
    background-position-x: 0;
}
.rated-img-2 {
    background-position-x: 271px;
}
.rated-img-3 {
    background-position-x: 542px;
}
.rated-img-4 {
    background-position-x: 813px;
}
.rated-img-5 {
    background-position-x: 1084px;
}
.rated-img-6 {
    background-position-x: 1355px;
}
.rated-img-7 {
    background-position-x: 1626px;
}

.single-new-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-bottom: 50px;
}

.single-new {
    background: #f9f7f7;
}
.new1 {
    grid-column: 1 / 4
}
.new2 {
    grid-column: 1 / 3;
    justify-self: start;
    width: min-content;
}
.new3 {
    grid-column: 3 / 5;
    justify-self: end;
    width: min-content;
}
.new4 {
    grid-column: 2 / 5
}

.new .single-new-title {
    text-align: center;
}

.single-new-wrapper {
    display: flex;
    flex-direction: column;
}
.new1 .single-new-wrapper, .new4 .single-new-wrapper {
    flex-direction: row;
}
.single-new-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.single-new-title {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding: 16px;
}
.single-new-text {
    text-align: right;
    padding: 0 16px 16px;
    font-size: 14px;
    line-height: 1.4em;
}

.footer-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: center;
}
.footer-text {
    color: #fff;
}

