.table-wrap {
  width: 600px;
  height: 600px;
  position: relative;
}

table{
  width: 100%;
  height: 100%;
  border-collapse:collapse;
  border-spacing:0;
  background: #fccf75;
  td, th {
    border: 1px solid #595959;
    padding: 3px;
    width: 20px;
    height: 20px;
  }
  th {
    background-color: #7accee;
  }
}

.game-table {
  opacity: .3;
  .lose {
    background: red;
  }
  .win {
    background: green;
  }
  .mole {
    width: 100%;
    height: 100%;
    background: blue;
    cursor: pointer;
  }
}

