.slide {
    min-height: 800px;
    background-size: cover !important;
    display: none !important;
}
.slide.active {
    display: flex !important;
}
.movieTitle {
    align-self: flex-end;
    color: white;
}

.movieTitle {
    align-self: flex-end;
    color: white;
}