.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  max-width: 600px;
}

input {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
