
a {
    text-decoration: none;
}
p, div {
    font-family: Verdana, sans-serif;
}
body {
    background: linear-gradient(rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73)), url("../image/main-bg.jpg") no-repeat center top #000;
}
.wrapper {
    width: 1064px;
    margin: 0 auto;
}
.header {
    margin-top: 37px;
    margin-bottom: 32px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.logo {
    float: left;
}
.logo-icon {
    float: left;
}
.logo-icon-svg {
    width: 52px;
    height: 52px;
}
.path-wrapper {
    fill: #fff;
}
.logo:hover .path-wrapper {
    fill: #F26522;
}
.logo-text {
    margin-left: 60px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    margin-top: 7px;
}
.logo-holidays {
    font-size: 16px;
}
.logo:hover .logo-text {
    color: #F26522;
}
.contacts {
    float: right;
    color: #fff;
    margin-top: 7px
}
.gallery-item {
    position: relative;
    float: left;
    margin-right: 64px;
    margin-bottom: 60px;
}
.gallery-item:nth-child(3n) {
    margin-right:0;
}
.gallery-image {
    display: block;
    border: 2px solid;
    border-image: linear-gradient(0deg, rgb(0,0,0), rgb(255,255,66255)) 1;
    box-shadow: 0 17px 24px 0 rgba(0, 0, 0, 1);
}
.details {
    display: none;
    position: absolute;
    background: #f26522;
    width: 312px;
    height: 63px;
    top: 142px;
    left: 0;
}
.gallery-item:hover .details {
    display: block;
}
.details-left {
    float: left;
    margin-left: 21px;
    margin-top: 12px;
}
.details-right {
    margin-top: 25px;
    float: right;
    font-size: 14px;
    color: #FFF;
}
.details-right::after {
    content: ">";
    color: #fff;
    margin-left: 20px;
    margin-right: 20px;
    opacity: .5;

}
.from-text {
    color: #fff;
    font-size: 10px;
}
.price-text {
    color: #fff;
    font-size: 20px;
}
.title {
    color: #FFF;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}
.gallery-item:hover .title {
    color: #f26522;
}
.footer{
    color: #fff;
    text-align: center;
    font-size: 12px;
}