.category-filter {
    border-bottom: 1px solid rgba(36, 43, 45, .1);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.position-filter {
    width: 35px;
    height: 32px;
    display: inline-block;
    margin-left: 16px;
}
.position-filter-item{
    width: 35px;
    height: 32px;
    display: block;
    cursor: pointer;
}
.position-filter-item.table {
    background-position-x: -35px !important;
}

.position-filter-item.active {
    background-position-y: -32px !important;
}