.promo {
    flex-basis: 100%;

}
.promo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20%;
    margin-bottom: 40px;
 }
.promo-header {
    color: #fff;
    font-size: 56px;
    text-align: center;
    padding-bottom: 40px;
    font-weight: normal;

}