@import 'variables/root.variables';

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3cb878;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body, html {
  height: 100%;
  font-family: Poppins, sans-serif, var(--bs-font-sans-serif);
  font-size: 16px;
}

