.badges {
  position: absolute;
  top: -3px;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;

  background-color: #3cb878;
  border-radius: 50%;
  color: #ffffff;
}
