.footer {
    display: flex;
    width: 100%;
    background: #fff;
    justify-content: space-between;
}
.footer-copy {
    display: flex; flex-direction: column;
    justify-content: center;
}
.footer-copy-logo {
    text-align: center;
}
.footer-copy-text {
    color: #ccc;
}
.footer-links-item {
    padding-right: 10px;
    color: #ccc;
    text-decoration: none;
}