/* COMMON STYLES  */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */

.header {
    background-color: #9933cc;
    padding: 45px 0;
}

.header-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


.header-logo {
    text-decoration: none;
    color: #fff;
    font-size: 42px;
    margin-bottom: 20px;
}

.header-contacts-list {
    margin-bottom: 20px;
}

.header-contact {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

/* ARTICLE */

.article {
    padding: 25px 0;
}

.article-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.article-right-col {
    padding: 15px;
    box-sizing: border-box;
}

.article-main-col {
    padding: 15px;
    box-sizing: border-box;
}

.article-left-col {
    padding: 15px;
    box-sizing: border-box;
}

.article-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article-gallery-img {
    flex: 1 1 45%;
    height: 140px;
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
}


/* SIDEBAR */

.sidebar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar-menu-item {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sidebar-menu-link {
    text-decoration: none;
    color: #ffffff;
}

.menu li:hover {
    background-color: #0099cc;
}

.sidebar-page-list {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}

/* FOOTER */

.footer {
    background-color: #0099cc;
    padding: 15px;
}

.footer-info {
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}
