/* Общие стили */
h1, p, a, div {
    font-family: "Myriad Pro", sans-serif;
}
a, a:visited, a:hover {
    text-decoration: none;
}
/* Страница */
.wrapper {
    width: 1280px;
    margin: 0 auto;
}
/* Шапка */
header {
    margin-top: 50px;
    text-align: left;
}
.logo {
    color: #000;
    font-weight: normal;
    font-size: 80px;
}
.blue-text {
    color: #4bcaff;
}
.nav {
    margin-top: 50px;
    background: #35444f;
    text-align: center;
}
.nav-item {
    display: inline-block;
    padding: 20px 40px;
    color: #fff;
    font-size: 24px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.nav-item:hover {
    background: #222f3a;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.page {
    margin-top: 50px;
}
.side-menu, .content {
    vertical-align: top;
    display: inline-block;
}
.side-menu {
    border: 1px solid #000;
    width: 344px;
    margin-right: 44px;
}
.side-item {
    display: block;
    padding: 28px 0 28px 45px;
    text-decoration: none;
    color: #485863;
    font-size: 30px;
}
.side-item:hover{
    padding-left: 69px;
    background-color: #dbdbdb;
    color: #000;
}
/* Контент */
.content {
    width: 885px;
}
.img-wrapper {
    border: 1px solid #000;
    margin-bottom: 40px;
}
.img-wrapper img{
    display:block;
    margin: 75px auto;
    transition: transform .2s;
}
.img-wrapper img:hover {
    transform: scale(1.2);
}
.content-text{
    color: #2C2C2C;
    font-size: 18px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}
footer {
    background: #b4b7ba;
    margin-top: 50px;
    height: 70px;
}
.footer-item {
    display: inline-block;
    margin: 20px;
    color: #0C1927;
    font-size: 28px;
}
.footer-item:hover {
    border-bottom: #3181a6 2px solid;
    padding-bottom: 5px;
    color: #3181a6;
}
.copy {
    margin-left: 70px;
    display: inline-block;
    font-size: 24px;
    color: #010101
}