.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-link-active {
  position: relative;

  &::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: '';
    height: 2px;
    width: 100%;
    border-bottom: 2px solid red;
  }
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
