.clearfix::after, .content-tab::after {
    content: "";
    display: block;
    clear: both;
}
a, p, h1, h2, h3, h4, li {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
.block-wrapper {
    padding: 90px 0;
}
.centered-content {
    width: 1140px;
    margin: 105px auto 0;
}
h3 {
    text-align: center;
    font-size: 36px;
    position: relative;
}
h3::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: calc(50% - 35px);
    width: 75px;
    height: 1px;
    background: #18cfab;
    box-shadow: 12px 4px 0px 0px rgb(24, 207, 171);
}
img {
    vertical-align: middle;
}

/* header */
.header {
    background: url("../images/bg/header-bg.jpg") fixed ;
}
.header-nav {
    padding: 25px 5px;
    background: rgba(73,71,63,.6);
}
.menu-wrapper {
    width: 1140px;
    margin: 0 auto  ;
}
.logo {
    float: left;
    background: url("../images/sprites/logo.png") no-repeat center center;
    width: 200px;
    height: 70px;
}
.menu {
    margin-top: 23px;
    float: right;
}
.menu-item {
    font-size: 13px;
    color: #b8b8b8;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.menu-item:hover, .menu-item.active {
    color: #18cfab;
}
.menu-item:hover::after, .menu-item.active::after {
    position: absolute;
    bottom: -56px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #18cfab;
}
.search {
    width: 22px;
    height: 22px;
    background: url("../images/sprites/search-icon.png") no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}
.header-text {
    margin-top: 220px;
    padding-bottom: 220px;
    text-align: center;
    color: #fff;
}
h1 {
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
}
.green {
    color: #18cfab;
}
.white {
    color: #fff;
}
.header-big-text {
    margin-top: 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 79px;
}
.header-small-text {
    margin-top: 35px;
    font-weight: 300;
    font-size: 34px;

}
.header-buttons {
    margin-top: 150px;
}
.btn {
    text-transform: uppercase;
    padding: 24px 40px;
    border-radius: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0px -5px 0px 0px rgba(255, 255, 255, 1);
    margin: 0 10px;
}
.btn-green {
    background: #18cfab;
}
.btn-azure {
    background: #01bce5;
}

/* advantages */
.advantages {
    display: flex;
}
.advantages-items {
    flex-basis: 25%
}
.advantages-items:nth-child(odd) {
background: #1c2a33;
    border-top: 7px solid #18cfab;
}
.advantages-items:nth-child(even) {
    background: #18cfab;
    border-top: 7px solid #fff;
}
.adv-text-icon {
    margin: 85px 20px;
}
.adv-icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: url("../images/sprites/sprite-advantages.png");
}
.pointer{
    background-position: 0 0;
}
.diamond {
    background-position: -100px 0;
}
.lamp{
    background-position: -200px 0;
}
.devices {
    background-position: -300px 0;
}
.adv-text {
    margin-top: 48px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/* services*/
.services {
}
.serv-wrapper {
    padding: 85px 0 105px;
}

.tabs {
    display: flex;
    background: #f8fcfe;
}
.tabs-title {
    width: 16.66%;
    padding: 20px;
    color: #717171;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-left: none;
    text-align: center;
}
.tabs-title:first-child {
    border-left: 1px solid #ebebeb;
}
.tabs-title.active {
    position: relative;
    color: #fff;
    background: #18cfab;
    border-color: #18cfab;
}
.tabs-title.active::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #18cfab;
    position: absolute;
    bottom: -12px;
    left: calc(50% - 12px);
}
.tabs-content {
margin-top: 30px;
}

.content-tab {
    display: none;
}
.content-tab.active {
    display: block;
}
.tabs-img {
    float: left;
}
.tabs-text {
    margin-left: 210px;
    font-size: 14px;
    line-height: 23px;
    color: #777;
    text-align: justify;
}

/* purchase*/
.purchase {
    background: url("../images/bg/purchase-bg.jpg");
}
.pur-wrapper {
    padding: 118px 0;
}
h4 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.pur-text {
    margin-top: 40px;
    margin-bottom: 70px;
    font-size: 16px;
    text-align: center;
    color: #fff;
}
.btn.center {
    display: block;
    margin: 0 auto;
    width: 170px;
    text-align: center;
}

/* our-work*/
.our-work {
    background: #f8fcfe;
    border-bottom: 1px solid #e1e1e1;
}
.tabs-works-all {
    display: flex;
    justify-content: center;
}
.tab-work-title {
    padding: 20px;
    color: #717171;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-left: none;
    text-align: center;
    background: #fff;
}
.tab-work-title:first-child {
    border-left: 1px solid #ebebeb;
}
.tab-work-title.active {
    color: #18cfab;
    box-shadow: 0px -2px 0px 0px rgb(24, 207, 171);
}
.items-work-all {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.item-work {
    display: none;
    position: relative;
}
.item-work.active {
    display: block;
}
.item-work-hover {
    border-top: 2px solid #18cfab;
    background: #f8fcfe;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
}
.item-work-hover-btns {
    margin-top: 40px;
    text-align: center;
}
.hover-btn1, .hover-btn2 {
    box-sizing: border-box;
    background: url("../images/sprites/tab2-hover.png");
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #18cfab;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.hover-btn1:hover {
    background: url("../images/sprites/tab2-hover.png") #18cfab;
    background-position: 0 -42px;
}
.hover-btn2 {
    background-position-x: 39px;
}
.hover-btn2:hover {
    background: url("../images/sprites/tab2-hover.png") #18cfab;
    background-position: -41px -42px;
}
.item-work-hover-title {
    padding-top: 30px;
    text-transform: uppercase;
    color: #18cfab;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.item-work-hover-text {
    font-size: 12px;
    color: #8a8a8a;
    text-align: center;
    padding-top: 10px;
}


/* news*/
.news {
    min-height: 965px;
}
.news-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-block {
    position: relative;
    margin-bottom: 50px;
}
.news-date {
    position: absolute;
    right: 0;
    top: 0;
    background: #203e38;
    padding: 13px 18px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
.news-block:hover .news-date{
    background: #18cfab;
}
.news-date-day {
    margin-bottom: 10px;
}
.news-header {
    background: #f8fcfe;
    border: 1px solid #ebebeb;
    padding: 18px 0 18px 26px;
}
.news-title {
    font-size: 18px;
    color: #777;
    font-weight: bold;
    padding-bottom: 10px;
}
.news-block:hover .news-title {
    color: #18cfab;
}
.author, .comment-count {
    display: inline-block;
    vertical-align: middle;
    color: #777;
    font-size: 14px;
}
.author {
    padding-right: 10px;
    border-right: 1px solid #777;
}
.comment-count {
    padding-left: 10px;
}

.btn.load {
    box-shadow: none;
    padding: 15px 40px;
}
.load-plus {
    color: #fff;
    font-size: 35px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.load-text {
    vertical-align: middle;
}

/* reviews*/
.feedback {
    height: 850px;
    background: url("../images/bg/section-3.jpg") no-repeat top;
}
h3.white {
    color: #fff;
}
.feedback-tab {
    padding-top: 85px;
    position: relative;
}
.feedback-text {
    text-align: center;
    font-size: 16px;
    color: #bbb;
    line-height: 30px;
}
.feedback-photo {
    width: 140px;
    display: block;
    margin: 20px auto;
    background: #18cfab;
    padding: 3px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 11px rgba(24, 207, 171, .2);
}
.feedback-name {
    padding-top: 45px;
    padding-bottom: 15px;
    text-align: center;
    color: #18cfab;
    text-transform: uppercase;
    font-size: 16px;
}
.feedback-pos {
    padding-bottom: 30px;
    font-size: 13px;
    text-align: center;
    color: #bbb;
}
.feedback-bottom {
    position: relative;
}
.carousel-content {
    margin-bottom: 40px;
    overflow: hidden;

}
.slides {
    width: calc(1140px * 4);
    position: relative;
    display: flex;
}
.carousel-slide {
    width: 1140px;
    padding-top: 50px;
    position: relative;
}
.carousel-slide::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 30px;
    background: url("../images/sprites/quotes.png") no-repeat top;
    top: 0;
    left: calc(50% - 15px);
}
.carousel {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-arrow {
    padding: 7px 10px;
    border: 1px solid #bbb;
    color: #bbb;
    left: 69%;
    position: absolute;
}
.carousel-arrow.right {
    top: calc(50% - 15px);
    left: calc(70% - 15px);
}
.carousel-arrow.left {
    top: calc(50% - 15px);
    left: calc(30% - 15px)
}
.carousel-arrow:hover {
    color: #fff;
    background: #18cfab;
    border-color: #18cfab;
}

.carousel-tabs.active {
    align-self: start;
}
.carousel-tabs.active .carousel-aves {
    border: 2px solid #18cfab;
    margin: 0 15px;

}
.carousel-aves {
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 0px 3px rgba(24, 207, 171, .2);
    border-radius: 50%;
    margin: 0 17px;
}

/* gallery */
.gallery {
    background: #f8fcfe;
}
.grid {
    column-count: 3;
    grid-gap: 10px;
}

.grid-item {
    padding: 2px;
    width: calc(100% / 3 - 4px);
    overflow: hidden;
}
.grid-item.two-column {
    width: calc(50% - 4px);
}
.grid-item img {
    max-width: 100%;
    height: auto;
    display: block;
}
.loader{
    display: none;
    width:100px;
    margin: 0 auto;
    height: 10px;
    background: #81decc;
    border-right:90px solid #18cfab;
    border-left:0px solid #18cfab;
    box-shadow: 0 0 0 1px #81decc;
    animation:loader infinite 1.5s linear;
}
@keyframes loader{
    50%{
        border-right:0px solid #18cfab;
        border-left:90px solid #18cfab;
    }
}
/* footer */
.footer {
    background: #22353f;
}
.footer-text {
    font-size: 14px;
    color: #aeaeae;
    text-align: center;
    padding: 40px 0;
}

