/* COMMON STYLES  */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.header {
    background-color: #9933cc;
    padding: 45px 0;
}

.header-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-logo {
    text-decoration: none;
    color: #fff;
    font-size: 42px;
}

.header-contact {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

/* ARTICLE */

.article {
    padding: 25px 0;
}

.article-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.article-right-col {
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}

.article-main-col {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

.article-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.article-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.article-left-col {
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}


.article-gallery-img {
    height: 140px;
    background-position: center;
    background-size: cover;
}


/* SIDEBAR */


.sidebar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar-menu-item {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.sidebar-menu-link {
    text-decoration: none;
    color: #ffffff;
}

.menu li:hover {
    background-color: #0099cc;
}

.sidebar-news-list {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}

.sidebar-news {
    margin-bottom: 25px;
}

.sidebar-news-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.sidebar-news-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}

/* FOOTER */

.footer {
    background-color: #0099cc;
    padding: 15px;
}

.footer-info {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
}