table {
    background: #fafafa;
    border-spacing: 0;
}
body {
    width: 1192px;
    height: 736px;
    margin: 0 auto;
    background: #3a4965;
}
table {
    width: 1132px;
    height: 680px;
    color: #484848;
    font-family: 'Arimo', sans-serif;
    table-layout: auto;
    text-transform: uppercase;
    position: relative;
    margin: 20px;
}
tbody tr:nth-child(odd){
    background: #f2f2f2;
}
tbody tr:nth-child(even){
    background: #e3e3e3;
}
td, th {
    vertical-align: middle;
    -moz-box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.25);
    box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.25);
    text-align: center;
}
thead tr:first-child {
    height: 70px;
}
thead tr:last-child {
    height: 85px;
}
tfoot td {
    height: 110px;
}
tbody td {
    height: 69px;
}
.pricing-plan {
    font-size: 24px;
    font-weight: 700;
    height: 70px;
    color: white;
}
.right-price {
    display: inline-block;
    vertical-align: middle;
}
.left-price {
    display: inline-block;
    vertical-align: middle;
    font-size: 60px;
    font-weight: bold;
}
.cent {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
}
.per {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
}
.first-col {
    width: 310px;
}
.another-cols {
    width: 277px;
}
.choose {
    font-weight: 700;
    color: #484848;
}
.choose-your {
    font-size: 18px;
}
.choose-your-plan {
    font-size: 30px;
}
.standart {
    background: #89c331;
    color: #fff;
    font-size: 24px;
}
.ultimate {
    background: #f04a56;
    color: #fff;
    font-size: 30px;
}
.premium {
    background: #20807c;
    color: #fff;
    font-size: 24px;
}
.fas, .far {
    color: #848484;
    margin-right: 10px;
    font-size: 20px;
}
.parameters-names{
    display: inline-block;
}

.button {
    width: 192px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
}
.button.premium {
    border-bottom: 7px solid #16736f;
}
.button.ultimate {
    border-bottom: 7px solid #df3a46;
}
.button.standart {
    border-bottom: 7px solid #79b027;
}
.button.contacts {
    background: #484848;
    border-bottom: 7px solid #404040;
}

.contact-block {
    background: #ddd;
}
