.paginator {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%)
}
.paginator-item {
    margin-bottom: 10px;
    width: 6px;
    height: 26px;
    background: rgba(255, 255, 255, .5);
    border-radius: 4px;
}
.paginator-item.active {
    background: #0aaee4;
}
