.navbar {
    padding: 30px 0;

    &-content{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    &-nav {
        display: flex;

        &-item {
            margin: 0 10px;
        }

        &-link {
            text-decoration: none;
        }

        &-link:hover {
            border-bottom: 1px solid red;
        }

        @media (max-width: 768px) {
            display: none;
        }

    }
}

.header {
    @media (max-width: 768px) {
        padding: 100px 0;
    }
}