.contacts {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 380px;
}

.item {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  transition: .3s;

  &:hover {
    color: #3cb878;
  }
}


.iconWrapper {
  display: inline-block;
  width: 23px;
  margin-right: 12px;
  text-align: center;
}

.dash {
  position: absolute;
  left: 43%;
  height: 1rem;
  width: 4px;
  border-right: 1px solid #fff;
  color: #fff;

  transform: translate(43%, 0);
}
