.navbar {
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    background-color: #444;
    padding: 10px 0;
}

.navbar li a {
    text-decoration: none;
    color: inherit;
}