@mixin linkBtn {
    display: inline-block;
    text-decoration: none;
}

@mixin flex {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}