.movieTitle {
    flex-direction: column;
    width: 100%;
}
.description {
    display: flex;
}
.tags {
    padding-right: 10px;
}
.separator {
    padding-right: 10px;
}
.rating-block {
    display: flex;
    align-items: center;
}
.more-info {
    display: flex;
    justify-content: space-between;
}

.stars {
    color: #0aaee4;
    font-style: normal;
    padding-right: 5px;
    font-size: 30px;
}

.rating {
    margin-left: 10px;
    padding:  0 5px;
    border: 2px solid #0aaee4;
    border-radius: 3px;
}

.film-options {
    display: flex;
    align-items: center;
}

.film-options > * {
    margin-left: 20px;
}
.film-options > *:last-child {
    margin-left: 5px;
}

.film-options::after {
    content: '\2807';
    font-size: 20px;
    margin-left: 20px
}