/* poppins-100 - devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url('./poppins-v12-devanagari-100.eot'); /* IE9 Compat Modes */
    src: local('Poppins Thin'), local('Poppins-Thin'),
    url('./poppins-v12-devanagari-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./poppins-v12-devanagari-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./poppins-v12-devanagari-100.woff') format('woff'), /* Modern Browsers */
    url('./poppins-v12-devanagari-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./poppins-v12-devanagari-100.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-300 - devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('./poppins-v12-devanagari-300.eot'); /* IE9 Compat Modes */
    src: local('Poppins Light'), local('Poppins-Light'),
    url('./poppins-v12-devanagari-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./poppins-v12-devanagari-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./poppins-v12-devanagari-300.woff') format('woff'), /* Modern Browsers */
    url('./poppins-v12-devanagari-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./poppins-v12-devanagari-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./poppins-v12-devanagari-regular.eot'); /* IE9 Compat Modes */
    src: local('Poppins Regular'), local('Poppins-Regular'),
    url('./poppins-v12-devanagari-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./poppins-v12-devanagari-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./poppins-v12-devanagari-regular.woff') format('woff'), /* Modern Browsers */
    url('./poppins-v12-devanagari-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./poppins-v12-devanagari-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('./poppins-v12-devanagari-500.eot'); /* IE9 Compat Modes */
    src: local('Poppins Medium'), local('Poppins-Medium'),
    url('./poppins-v12-devanagari-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./poppins-v12-devanagari-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./poppins-v12-devanagari-500.woff') format('woff'), /* Modern Browsers */
    url('./poppins-v12-devanagari-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./poppins-v12-devanagari-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./poppins-v12-devanagari-700.eot'); /* IE9 Compat Modes */
    src: local('Poppins Bold'), local('Poppins-Bold'),
    url('./poppins-v12-devanagari-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./poppins-v12-devanagari-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./poppins-v12-devanagari-700.woff') format('woff'), /* Modern Browsers */
    url('./poppins-v12-devanagari-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./poppins-v12-devanagari-700.svg#Poppins') format('svg'); /* Legacy iOS */
}