* {
    margin: 0;
    padding: 0;
    display: block;
    font-family: Roboto, sans-serif;
}
.main {
    width: 1280px;
    margin: 0 auto;
}
.header {
    text-align: center;
}
.menu {
    padding-top: 24px;
    padding-bottom: 24px;
}
.menu-item {
    display: inline;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #16A085;
    padding-right: 100px;
}
.content {
    width: 100%;
    background-color: #F5F6F7;
}
.text-container {
    width: 1059px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom:10px;
}
.text-header {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}
.text-content {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}
.main-button {
    text-decoration: none;
}
.button {
    margin: 20px auto;
    width: 193px;
    height: 52px;
    background-color: #16A085;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 52px;
    text-transform: uppercase;
    border-radius: 5px;
}
.footer {
    width: 1059px;
    margin: 0 auto;
}
.footer-text {
    text-align: right;
    font-size: 16px;
    line-height: 80px;
}