body {
    background-color: #202020;
}
.container {
    position: relative;
    overflow: hidden;
    height: 60vh;
    background-color: black;
}

.star-wars {
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 450px;
    transform: translate(-50%, 0);
}

.star-wars-text {
    color: #face00;
    font-family: Arial, sans-serif;
    font-size: 40px;
    transform: rotateX(30deg) translate(0px, 1070px) scale(3,3);
    animation: flight-text 20s linear;
}

.center {
    text-align: center;
    display: block;
    margin-bottom: 30px;
}
@keyframes flight-text {
    from {
        transform: rotateX(30deg) translate(0px, 1070px) scale(3,3);
    }
    to {
        transform: rotateX(30deg) translate(0px, -1550px) scale(3,3);
    }

}