/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));

}

/* The content */
.overlay-content {
  position: relative;
  top: 20vh;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
}

/* Style the search field */
.search {
  padding: 15px;
  font-size: 17px;
  border: none;
  width: 80vw;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.search-button {
  position: absolute;
  padding: 15px;
  background: #ffffff;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

.overlayOpen {
  visibility: visible;
  opacity: 1;
  transition: .3s;
}

.overlayClose {
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

.close-button {
  position: fixed;
  box-shadow: none;
  outline: none !important;
  top: 1.5vh;
  right: -6vw;
  z-index: 4;
  font-size: 50px;
  color: #ffffff;
  opacity: .7;
  background-color: transparent;
  transition: .3s;

  &:hover {
    color: #ffffff;
    opacity: .8;
  }
}

.close-button-open {
  right: 1.5vw;
}

.content {
  visibility: hidden;
  top: -150%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: .3s;
}

.contentOpen {
  visibility: visible;
  top: 0;
}