.container {
  margin-top: calc(50vh - 11rem);
}

.title {
  font-family: Roboto, sans-serif;
  color: #fff;
}

.date,
.developer {
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  color: white;
  opacity: 0.7;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.developer {
  margin-right: 0.5em;
  font-weight: 700;
  color: #ddd;
  text-decoration: none;
}
