.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    cursor: pointer;
}

.navbar {
    composes: d-flex from "../../stylesheets/common-rules.css";
}

.btnPrimary {
    composes: btn;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btnSecondary {
    composes: btn;
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.btnSuccess {
    composes: btn;
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}