.semi {
    border: 2px solid white;
}

.filter {
    color: #0aaee4 !important;
    font-size: 24px;
}

.filter.active {
    font-weight: bold;
    border-bottom:  2px solid #0aaee4;
}

.sub::after {
    content: '▾';
}
.btn-primary {
    background: #0aaee4 !important;
    border-color: #0aaee4 !important;
}