.navbar {
    background: #585858;

}
.container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;

}
.navbar_content {
    display: flex;
    justify-content: space-between;

}
.navbar-nav {
    display: none;
}
.navbar-logo {
    color: #fff;
    text-decoration: none;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-toggler {
    background: #303030;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
}
.navbar-toggle-line {
    width: 20px;
    height: 2px;
    margin: 3px 0;
    background: #fff;
}