
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@font-face {
    font-family: "Oswald";
    src: url("../fonts/oswald/Oswald-Bold.ttf"), url("../fonts/oswald/Oswald-ExtraLight.ttf"),
    url("../fonts/oswald/Oswald-Light.ttf"),url("../fonts/oswald/Oswald-Medium.ttf"),
    url("../fonts/oswald/Oswald-Regular.ttf"),url("../fonts/oswald/Oswald-SemiBold.ttf");

}
/* COMMON STYLE */
.container {
    margin: 0 auto;
    width: 1170px;
}

.text-center {
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.clearfix {
    clear: both;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

/* HEADER */
.header {
    padding: 28px 0;
}

.header_content {
    display: flex;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
}
.header-contact-info {
    text-align: right;
}

/* NAVBAR */

.navbar {
    background-color: #f2f2f2;
    padding-top: 23px;
    padding-bottom: 23px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.navbar-nav-item {
    display: inline-block;
    margin-right: 30px;
}

.navbar-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #4e4e4e;
    font-family: "Lato" , sans-serif;
    font-weight: bold;
    transition: 0.4s;
}

.navbar-nav-link:hover {
    color: #7eb8b8;
}

.navbar-nav-link.active {
    color: #7eb8b8;
}

/* ABOUT US */

.about-us {
    padding: 40px 0;
}

.about-us-main-img {
    text-align: center;
    margin-bottom: 70px;
}

.about-us-title {
    font-size: 35px;
    font-family: "Roboto", sans-serif;
    color: #4e4e4e;
    text-transform: capitalize;
    margin-bottom: 27px;
    text-align: center;
}

.about-us-text {
    font-size: 28px;
    font-family: "Oswald", sans-serif;
    color: #4e4e4e;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
}
/*REVIEWS SLIDER*/

.reviews {
    background-image: url("../img/reviews-bg.png");
    padding: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.review-slide-title {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #eaeaea;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.review-slide-text {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    color: #eaeaea;
    line-height: 1.5;
    margin-bottom: 27px;
}

.review-author {
    font-size: 12px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #539696;
}

/*Our recent post ========== */

.recents-posts{
    padding: 80px 0 71px;
    
}

.recents-posts-title{
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Roboto" ,sans-serif;
    margin-bottom: 25px;
}

.recents-posts-block {
    display: flex;
    flex-wrap: wrap;
}

.recents-post {
    /*float: left;*/
    /*width: 583px;*/
    flex: 0 0 583px;
    box-sizing: border-box;
    margin-bottom: 24px;
    display: flex;
    flex-wrap: wrap;
}

.recent-post-img {
    flex: 0 0 160px;
    margin-right: 20px;
}

.recent-post-content {
    box-sizing: border-box;
    flex: 0 0 395px;
    padding-right: 28px;
}

.recent-post-title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin-bottom: 6px;
    line-height: 1.5;
}

.recent-post-info {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 11px;
    font-family: "Oswald", sans-serif;
    font-style: italic;
}

.recent-post-text {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Oswald", sans-serif;
}

/* INSRAGRAM POSTS SECTION */

.instagram-posts{
    background-color: #F7F7F7;
    padding: 70px 0;
}

.instagram-post-title{
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
    color: #57a4a4;
}
.instagram-page-link{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 30px;
    color: #57a4a4;
}

.instagram-post-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.instagram-post-link {
    text-decoration: none;
    /*margin-right: 4px;*/
}

.instagram-post-img{

    max-width: 285px;
}
/* FOOTER CONTACTS */

.footer-contacts {
    background-color: #1E1F20;
    padding: 50px 0;
}

.footer-contact-title {
    font-family: "Roboto",sans-serif;
    color: #EAEAEA;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 22px;
}

.footer-contact-text {
    color: #6B6C6C;
    width: 600px;
    box-sizing: border-box;
    margin: 0 auto 26px;
    font-family: "Oswald", sans-serif;
    line-height: 1.5;
}

.social-links {
    margin-bottom: 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-icon {
    border-radius: 50%;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    margin-right: 9px;
}
.rss-icon {
    color: #c6762b;
    border: 1px solid #c6762b;
}
.facebook-icon {
    color: #334c82;
    border: 1px solid #334C82;
}
.tumblr-icon {
    color: #3c8eb6;
    border: 1px solid #3C8EB6;
}
.dribbble-icon {
    color: #ae658f;
    border: 1px solid #AE658F;
}
.pinterest-icon {
    color: #a42129;
    border: 1px solid #A42129;
}

.our-contacts {
    color: #6B6C6C;
    text-align: center;
    font-size: 16px;
}

