body {
  margin-top: 4rem;
}

.App {
  font-family: sans-serif;
}

.header {
  height: 80vh;
  overflow: hidden;
  background-color: #efefef;
}

.navbar-custom {
  margin-bottom: 2rem;
}

.image {
  height: 400px;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
}
