a {
    text-decoration: none;
}
a, p, span, label {
    font-family: Verdana, sans-serif;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.page-wrapper {
    background:url("../images/bg.jpg") no-repeat center top;
    background-size: cover;
}
.link {
    color: #3cb878;
}
.link:hover {
    border-bottom: 1px solid #3cb878;
}
.main-header {
    background: rgba(0,0,0,0.5);
    padding: 15px 80px;
}
.header-left {
    float: left;
}
.logo {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.logo:hover {
    color: #3cb878;
}
.header-right {
    float: right;
}
.icon-link, .login-text {
    display: inline-block;
    vertical-align: middle;
    margin: 0 16px;
}
.icon {
    display: block;
    width: 28px;
    height: 22px;
    background: url("../images/css_sprites.png");
}
.icon-link:hover .icon{
    background-position-y: -66px;
}
.login-text {
    position: relative;
    margin-left: 30px;
    color: #FFFFFF;
}
.login-text::before {
    position: absolute;
    content: "|";
    color: rgba(255,255,255,.2);
    top: 0;
    left: -30px;
}
.calendar {
     background-position: 3px 0;
}
.forum {
    background-position: -30px 0;
}
.journey {
    background-position: -60px 0;
}
main {
    height: calc(100vh - 54px);
    position: relative;
}
.popup {
    position: absolute;
    width: 323px;
    top:50%;
    left: 50%;
    background: #fff;
    border-radius: 10px;
    padding: 26px 60px 32px;
    transform: translate(-50%, -50%);
}
.sign-up {
    float: left;
    font-size: 20px;
    color: #434343;
}
.login {
    float: right;
    font-size: 14px;
    margin-top: 3px;
}
.popup::before {
    content: "";
    background: #3cb878;
    width: 18px;
    height: 18px;
    position: absolute;
    top:29px;
    left: 0;
}
.social-sign {
    margin-top: 14px;
}
.btn-icon {
    display: block;
    margin: 12px 10px 10px 12px;
    float: left;
    background: url("../images/css_sprites.png");
    width: 28px;
    height: 22px;
}
.btn-text {
    width: 104px;
    margin-left: 50px;
    margin-top: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 16px;
}
.facebook {
    display: inline-block;
    width: 157px;
    border-radius: 5px;
    color: #fff;
    background: #305DB8;
}
.facebook:hover {
    background: #264B96;
}
.facebook .btn-icon{
    background-position: 27px -2px;
}
.google {
    display: inline-block;
    width: 157px;
    border-radius: 5px;
    color: #fff;
    background: #DF4A32;
    margin-left: 5px;
}
.google:hover {
    background: #C3412C;
}
.google .btn-icon{
    background-position: 58px -2px;
}
.or-block::before, .or-block::after {
    position: absolute;
    content: "";
    width: 130px;
    height: 1px;
    background: #eaeaea;
    top: 8px;
}
.or-block::before {
    left: 0;
}
.or-block::after{
    right: 0;
}
.or-block {
    margin-top: 25px;
    position: relative;
    color: #848484;
    font-size: 14px;
    text-align: center;
    font-family: verdana, sans-serif;
}
.text-input {
    display: block;
    padding: 14px 20px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #eaeaea;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    color: #333;
    margin-top: 10px;
    box-sizing: border-box;
}
.text-input:focus{
    border: 1px solid transparent;
    -moz-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}
.text-input::placeholder{
    color: #bebebe;
}
.terms {
    display: block;
    margin-top: 19px;
    color: #434343;
    font-size: 14px;
}
.btn-submit {
    border: transparent;
    display: block;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-top: 25px;
    text-align: center;
    background: #3cb878;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
.btn-theme {
    border: transparent;
    display: block;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px auto 0;
    text-align: center;
    background: #ccc;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}
.btn-theme:hover {
    background: #aaa;
}
.btn-submit:hover {
    background: #329A65;
}