.movie-item {
    background: #fff;
    width: 500px;
    height: 600px;
    list-style: none;
}
.movie-item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-item-title-name {
    font-weight: bold;
    font-size: 28px;
}

.movie-item-tags {
    color: #0aaee4;
    font-size: 22px;
}

.rating.blue {
    color: #0aaee4;
}